@media screen and (max-width: 900px) {
    p, h1, h2, h3, h4, h5 {
        width: 100%;
        margin-left: 10px;
        margin-right: 3px;
        max-width: 600px;
    }

    #glossaire {
        display: none;
    }

    .cover, .direction, .navbar {
        display: none;
    }

    .titre {
        font-size: 2rem!important;

        line-height: 2rem;
        padding-bottom: 30%;
        padding-top: 5%;
    }

    #text {
        padding-top: 30px;
        margin: auto;
        width: 95%;
    }

    .sidenote {
        display: inline;
        margin-left: 0;
        width: 100%;
        padding: 0px 10px 0px 0;
        color: white;
        float: none;
        background-color: blue;
    }
    .sidenote .chifre { display: none; }

    .table-of-content {
        position:fixed;
        top:5px;
        width:95%;
        /*position: fixed;
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
        background-color: blue;*/
    }
    .table-of-content.closed {
        margin-left:-93%;
    }

    li {
        font-size: 1rem;

    }
    .link {
        color: #fff;
        float: none;
        background-color: blue;
    }


    figure img {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    gallery img {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

}




@media screen and (max-width: 900px) {
    #mobile-glossaire {
        position: fixed;
        left: 0;
        height: 100%;
        width: 100%;

        top: 0;
        background-color: rgba(0, 0, 0, 0.53);
        z-index: 100000;
        display: none;
    }

    #mobile-glossaire-content {
        position: absolute;
        left:5%;
        bottom: 0;

        width: 90%;
        background-color: blue;
        border-radius: 15px;
        padding: 20px 10%;
        color: white;
        font-family: 'Sometype Mono';
    }


}